.btn {
    color: #037E8C  !important;
    font-size: 19px;
    font-weight: 500;
    border-radius: 250px;
    padding: 0.5em 1.2em;
    background: black;
    border: 2px solid;
    border-color: #318aac;
    transition: all 1s ease;
    position: relative;
}
    
.btn:hover {
    box-shadow: 0 4px 16px #000000;
    transition: all 0.2s ease;
    background: #318aac;
    color: #000000 !important;
  
  }