:root{
    /* Fuentes */
      --fuenteHeading: 'DM Serif Display', serif;
      --fuenteParrafo: 'Cormorant Garamond', serif;
    /*Colores*/
    --ColorPrincipal: #037E8C;
    --ColorSecundario: #13C0E5;
    --ColorClaro: #f4f4f2;
    --ColorContraste: #7EC544;
    }
    /* Globales */
    body{
      font-family: var(--fuenteParrafo);
      font-size: 1.5rem;
    }
    p{
      font-family: var(--fuenteParrafo)
      font-size
    }
    
    h1{
      font-family: var(--fuenteHeading);
      font-size:5rem; 
    }
    h2{
        font-family: var(--fuenteHeading);
        font-size:2rem; 
      }
    /*Colores*/
    .fondo{
      background-color: var(--ColorPrincipal);
      padding: 1rem 2rem;
      }
      /* Para aplicarlo a los titulos */
    .Titulo{
      font-family: var(--fuenteHeading);
      font-size: 3rem;
    }
    .espacio{
      margin-right: 0.5rem;
    }
    .boton{
      font-family: var(--fuenteHeading);
      font-size: 1.3rem;
      border-radius: 30px;
      border-color: var(--ColorPrincipal);
      color: var(--ColorPrincipal) !important;
    }
    .boton:hover{
      color: var(--ColorContraste) !important;
      border-color: var(--ColorContraste);
      -webkit-box-shadow: 2px 5px 16px 0px rgba(108,166,61,1);
-moz-box-shadow: 2px 5px 16px 0px rgba(108,166,61,1);
box-shadow: 2px 5px 16px 0px rgba(108,166,61,1);


    }
    .margen-2{
      margin: 10px 0px 40px 0; 
    }
    .margen-but{
        margin-bottom: 10px; 
      }
    .alt{
     background-size: cover;
    }
    .font-5{
      font-size: 5rem; 
    }
    .padding-2{
      padding: 2rem;
    }
    .imagen-fondo{
      background-image: url("https://i.ytimg.com/vi/CH0DBCp4mvM/maxresdefault.jpg")
    }
    .imagen{
      background-color: blue;
      height: 10rem;
    }
    .grid2T{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }
    .hilo{
        border-radius: 30px;
        background-color: var(--ColorSecundario);
        padding: 10px;
        text-align: center;
        color: white;
      background: rgba(19,192,229,1);
      background: -moz-linear-gradient(left, rgba(19,192,229,1) 0%, rgba(98,216,252,1) 50%, rgba(19,192,229,1) 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(19,192,229,1)), color-stop(50%, rgba(98,216,252,1)), color-stop(100%, rgba(19,192,229,1)));
      background: -webkit-linear-gradient(left, rgba(19,192,229,1) 0%, rgba(98,216,252,1) 50%, rgba(19,192,229,1) 100%);
      background: -o-linear-gradient(left, rgba(19,192,229,1) 0%, rgba(98,216,252,1) 50%, rgba(19,192,229,1) 100%);
      background: -ms-linear-gradient(left, rgba(19,192,229,1) 0%, rgba(98,216,252,1) 50%, rgba(19,192,229,1) 100%);
      background: linear-gradient(to right, rgba(19,192,229,1) 0%, rgba(98,216,252,1) 50%, rgba(19,192,229,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13c0e5', endColorstr='#13c0e5', GradientType=1 );

    }
    .cambio{
        background-color: var(--ColorClaro);
    }
  .perfil{
    display: flex;
    
  }
  .foto{
    background-size: cover ;
    background-image: url(/assets/img/johnDoe.png);
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 2rem 2rem;
    border-radius: 50%;
    
  }
  .w-pixeles{
    width: 80%;
  }
  .ubicacion{
    font-family: var(--fuenteHeading);
  }
  .dimension{
    width: 70%;
    height: 9rem;
  }
  
